@{
    ViewBag.Title = "ประวัติการชำระค่างวดตามรายชื่อสมาชิก";
    ViewBag.MainMenu = "ระบบจัดการค่างวด";
    Layout = "~/Views/Shared/_LayoutPartial.cshtml";
}
<div class="row bg-title">
    <!-- .page title -->
    <div class="col-md-5">
        <ol class="breadcrumb pull-left">
            <li><a href="#">@ViewBag.MainMenu</a></li>
            <li class="active">@ViewBag.Title</li>
        </ol>
    </div>

    <a href="javascript:history.back();" class="btn btn-default pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">
    <i class="fa fa-mail-reply"></i> ย้อนกลับ</a>

</div>
<div class="row">

    <div class="col-lg-12 ">

        <div class="white-box">
       
            <h3 class="m-b-0 m-t-0"> <i class="fa fa-file-text-o"></i> @ViewBag.Title</h3> 
            <small class="text-muted db"></small>

            <hr>
        </div>
    </div>
</div>
            @section Scripts {
                @Scripts.Render("../Scripts/src/customers_src.js")

                <script>
                    $(function () {
                        $('#accordion').wizard({
                            step: '[data-toggle="collapse"]',
                            buttonsAppendTo: '.panel-collapse',
                            templates: {
                                buttons: function () {
                                    var options = {
                                        buttonLabels: {
                                            next: 'ถัดไป',
                                            back: 'ย้อนกลับ',
                                            finish: 'บันทึก'
                                        },
                                    }
                                    ;
                                    return '<div class="panel-footer"><ul class="pager">' + '<li class="previous">' + '<a href="#' + this.id + '" data-wizard="back" role="button">' + options.buttonLabels.back + '</a>' + '</li>' + '<li class="next">' + '<a href="#' + this.id + '" data-wizard="next" role="button">' + options.buttonLabels.next + '</a>' + '<a href="#' + this.id + '" data-wizard="finish" role="button">' + options.buttonLabels.finish + '</a>' + '</li>' + '</ul></div>';
                                }
                            },
                            onBeforeShow: function (step) {
                                step.$pane.collapse('show');
                            },
                            onBeforeHide: function (step) {
                                step.$pane.collapse('hide');
                            },
                            onFinish: function () {
                                AddCustomer();
                            }
                        });
                        $(".select2").select2();

                        $.get("../Setting/GetProvince", function (obj) {

                            $.each(obj.data, function (key, value) {
                                $("#CustomerProvince").append('<option value="' + value.ProvinceID + '"' + ">" + value.ProvinceName + "</option>");
                            });
                        });



                        $("#CustomerProvince").change(function () {

                            // ล้างข้อมูลเดิม
                            $('#CustomerDistrict')
                            .find('option')
                            .remove()
                            .end()
                            .append('<option selected>เลือก</option>');

                            $('#CustomerSubDistrict')
                           .find('option')
                           .remove()
                           .end()
                           .append('<option selected>เลือก</option>');
                            ;

                            $.get("../Setting/GetDistrict/" + $('#CustomerProvince').val(), function (obj) {
                                $.each(obj.data, function (key, value) {
                                    $("#CustomerDistrict").append('<option value="' + value.DistrictID + '"' + ">" + value.DistrictName + "</option>");
                                });
                            });
                            $("#select2-chosen-2").text('เลือก');
                            $("#select2-chosen-3").text('เลือก');
                        });

                        $("#CustomerDistrict").change(function () {
                            $('#CustomerSubDistrict')
                            .find('option')
                            .remove()
                            .end()
                            .append('<option selected>เลือก</option>');


                            $.get("../Setting/GetSubDistrict/" + $('#CustomerDistrict').val(), function (obj) {
                                $.each(obj.data, function (key, value) {
                                    $("#CustomerSubDistrict").append('<option value="' + value.SubDistrictID + '"' + ">" + value.SubDistrictName + "</option>");
                                });
                            });
                            $("#select2-chosen-3").text('เลือก');

                        });
                        $("#CustomerSubDistrict").change(function () {
                            $.get("../Setting/GetZipCode/" + $('#CustomerSubDistrict').val(),
                                function (obj) {
                                    console.log(obj.data);
                                    $('#CustomerZipCode').val(obj.data[0].SubDistrictZipCode);
                                });
                        });
                    })
                </script>
            }
